<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Learn Vue.js</title>
  </head>
  <body>
    <!-- mount point -->
    <div id="app">
      <!-- template vue -->
      <h1>Form!_</h1>
      <div>
        <label>Title </label>
        <input type="text" name="title" v-model="book.title" />
      </div>
      <div>
        <label>Description</label>
        <textarea
          name="description"
          v-model.trim="book.description"
          rows="3"
        ></textarea>
      </div>
      <div>
        <label>Price</label>
        <input type="number" name="price" v-model.number="book.price" />
      </div>
      <div>
        <label>Category</label>
        <select name="category" v-model="book.category">
          <option v-for="option in category_options" :value="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div>
        <label>Authors</label>
        <select name="authors" v-model="book.authors" multiple>
          <option v-for="option in ['jack', 'john', 'mike']" :value="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div>
        <label>Status</label>
        <span>
          <input
            type="radio"
            name="status"
            id="draft"
            value="draft"
            v-model="book.status"
          />
          <label for="draft">Draf</label>
          <input
            type="radio"
            name="status"
            id="publish"
            value="publish"
            v-model="book.status"
          />
          <label for="publish">Publish</label>
        </span>
      </div>
    </div>

    <script>
      // component
      const App = {
        data() {
          return {
            book: {
              title: 'C++ High Performance',
              description:
                'Write code that scales across CPU registers, multicore, and machine clusters',
              price: 100000,
              category: 'programming',
              authors: ['john', 'mike'],
              status: 'draft',
            },
            category_options: ['general', 'programming', 'design'],
          };
        },
      };

      // vue app object
      const vm = Vue.createApp(App).mount('#app');
    </script>
  </body>
</html>
