<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Vue.js</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app"></div>

    <script type="module">
      const { ref, watch } = Vue
      
      const InputDistance = {
        template: 
        `<div>
          Miles : <input v-model="miles" />
          <br />
          Kilometers : <input v-model="kilometers" />
        </div>`,
        setup (props, context) {
          const miles = ref(null)
          const kilometers = ref(null)
          watch(miles, (newValue, oldValue) => {
            const newKilometers = newValue * 1.6
            kilometers.value = newKilometers
          })
          watch(kilometers, (newValue, oldValue) => {
            const newMiles = newValue > 0 ? newValue / 1.6 : 0
            miles.value = newMiles
          })
          return { miles, kilometers }
        }
      }

      const app = Vue
      .createApp(InputDistance)
      .mount('#app')
    </script>
  </body>
</html>
