#app {
  width: 250px;
  text-align: center;
  margin: auto;
}

input {
  width: 100%;
  padding: 5px 3px;
  box-sizing: border-box;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 5px;
}

ul li:nth-child(odd) {
  background-color: #efefef;
}

ul li span:hover {
  cursor: pointer;
 }

.done {
  text-decoration: line-through;
  color: #aaa;
}
