#app {
  text-align: center;
}

.paradise {
  width: 350px;
  height: 190px;
}

.text-red {
  color: red;
}

.text-bold {
  font-weight: bold;
}

.text-link {
  text-decoration: underline;
  color: blue;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: left;
  padding-left: 7px;
}
