<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Vue.js</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/vue-router@next"></script>
    <style>
      fade-enter-active,
      .fade-leave-active {
        transition: opacity 1s ease;
      }
      .fade-enter-from,
      .fade-leave-to {
        opacity: 0;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>

    <script type="module">
      // 0 Import Komponen
      import ListBook from './ListBook.js';
      import Book from './Book.js';

      // 1. Declare components or variable
      const Home = { template: '<div>Home</div>' };
      const About = {
        template: '<div>About</div>',
        beforeRouteLeave(to, from) {
          const answer = window.confirm('Are you sure you want out?');
          if (!answer) return false;
        },
      };
      const NotFound = { template: '<div>NotFound</div>' };
      const isLogin = Vue.ref(false);
      const Login = {
        setup(props, context) {
          const router = VueRouter.useRouter();
          const login = () => {
            isLogin.value = true;
            alert('login berhasil');
            router.push('/');
          };
          return { login };
        },
        template: '<div><button @click="login()">Login</button></div>',
      };

      // 2. Define routes, to map routes with components
      const routes = [
        { path: '/', component: Home },
        { path: '/home', redirect: '/' },
        { path: '/about', component: About },
        { path: '/list-book', component: ListBook, meta: { auth: true } },
        { path: '/book/:id(\\d+)', component: Book, meta: { auth: true } },
        { path: '/login', component: Login },
        { path: '/:catchAll(.*)', component: NotFound },
      ];

      // 3. Create router object
      const router = VueRouter.createRouter({
        history: VueRouter.createWebHistory(),
        routes, // short form of `routes:routes`
      });
      router.beforeEach((to, from) => {
        const { auth } = to.meta;
        // if destination routing is protected
        if (auth) {
          // if the user is not logged in
          if (!isLogin.value) {
            alert('You are not allowed!');
            // redirect to route /login
            return '/login';
          }
        }
      });

      // 4. Create a Vue app object that holds the router template
      const app = Vue.createApp({
        setup(props, context) {
          const router = VueRouter.useRouter();
          const logout = () => {
            isLogin.value = false;
            alert('logout succeed');
            router.push('/');
          };
          return { isLogin, logout };
        },
        template: `<div>
          <ul>
            <li><router-link to="/">Home</router-link></li>
            <li><router-link to="/about">About</router-link></li>
            <li><router-link to="/list-book">List Book</router-link></li>
            <li v-if="!isLogin"><router-link to="/login">Login</router-link></li>
            <li v-if="isLogin" @click="logout()">Logout</li>
          </ul>
          <router-view v-slot="{ Component }">
            <transition name="fade">
              <component :is="Component" />
            </transition>
          </router-view>
        </div>`,
      });

      // register router on Vue app object
      app.use(router);

      // mount to #app
      app.mount('#app');
    </script>
  </body>
</html>
