<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Vue.js</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/vuex@next"></script>
    <script src="https://unpkg.com/vue-router@next"></script>
  </head>
  <body>
    <div id="app"></div>

    <script type="module">
      const Home = { template: '<div>Home</div>' };

      const Profile = {
        setup() {
          const store = Vuex.useStore();
          const user = Vue.computed(() => store.getters.getUser);
          return { user };
        },
        template: 
        `<div>
          <h2>Profile</h2>
          {{ user }}
        </div>`,
      };

      const Login = {
        setup(props, context) {
          const dataLogin = Vue.reactive({
            username: '',
            password: '',
          });
          const store = Vuex.useStore();
          const router = VueRouter.useRouter();
          const login = () => {
            const { username, password } = dataLogin;
            if (username === 'admin' && password === '123456') {
              store.dispatch('login', { username, password });
              alert('login successful!');
              router.push('/');
            } else {
              alert('wrong username or password!');
            }
          };
          return { dataLogin, login };
        },
        template: 
        `<div>
          <h2>Login</h2>
          <form @submit.prevent="login">
          <div> username: <input v-model="dataLogin.username"/></div>
          <div> password: <input v-model="dataLogin.password"/></div>
          <button type="submit">Login</button>
          </form>
        </div>`,
      };

      const routes = [
        { path: '/', component: Home },
        { path: '/profile', component: Profile, meta: { auth: true } },
        { path: '/login', component: Login },
      ];

      const router = VueRouter.createRouter({
        history: VueRouter.createWebHistory(),
        routes,
      });

      router.beforeEach((to, from) => {
        const { auth } = to.meta;
        const isLogin = store.getters.isLogin;
        // if auth is true
        if (auth) {
          // if state isLogin is false
          if (!isLogin) {
            // redirect to route /login
            return '/login';
          }
        }
      });

      const store = Vuex.createStore({
        strict: true,
        state() {
          return {
            login: false,
            user: {},
          };
        },
        mutations: {
          setLogin: (state, login) => (state.login = login),
          setUser: (state, user) => (state.user = user),
        },
        getters: {
          isLogin: (state) => state.login,
          getUser: (state) => state.user,
        },
        actions: {
          login(context, payload) {
            context.commit('setLogin', true);
            context.commit('setUser', payload);
          },
          logout(context) {
            context.commit('setLogin', false);
            context.commit('setUser', {});
          },
        },
      });

      const app = Vue.createApp({
        setup(props, context) {
          const store = Vuex.useStore();
          const router = VueRouter.useRouter();
          const isLogin = Vue.computed(() => store.getters.isLogin);
          const logout = () => {
            store.dispatch('logout');
            alert('logout successful!');
            router.push('/');
          };
          return { isLogin, logout };
        },
        template: 
        `<div>
          <ul>
            <li><router-link to="/">Home</router-link></li>
            <li v-if="isLogin"><router-link to="/profile">Profile</router-link></li>
            <li v-if="!isLogin"><router-link to="/login">Login</router-link></li>
            <li v-if="isLogin" @click="logout()">Logout</li>
          </ul>
          <router-view v-slot="{ Component }">
            <transition>
              <component :is="Component" />
            </transition>
          </router-view>
        </div>`,
      });

      // register router
      app.use(router);

      // register store
      app.use(store);

      app.mount('#app');
    </script>
  </body>
</html>
